@import "./shilp.scss";
@import "shilp/scss/styles.scss";
@import "~shilp-vue/dist/shilp-vue";

.w-screen {
  width: 100vw;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.h-full {
  width: 100%;
}
.button {
  font-weight: bold;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded {
  border-radius: 4px;

  &-md {
    border-radius: 6px;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.inset-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.opacity-0 {
  opacity: 0;
}
