$shilp-colors: (
  "primary": (
    default: #000080,
    lightest-ultra: #c6c6f8,
    lightest: #9191f2,
    lighter: #5656d8,
    light: #2c2cb2,
    dark: #00006e,
    darker: #00005c,
    darkest: #00004a,
  ),
  "secondary": (
    default: #f57418,
    lightest: #fdcfa9,
    lighter: #faae7d,
    light: #f68d5d,
    dark: #cf3c1d,
    darker: #f16a09,
    darkest: #8b110d,
  ),
  "success": (
    lightest-ultra: #dcfce7,
    lightest: #a6f9ac,
    lighter: #77ed8b,
    default: #0e7d04,
    dark: #18a95c,
    darker: #0c6d03,
    darkest: #0a724f,
  ),
  "warning": (
    default: #f57418,
    lightest-ultra: #fef9c3,
    lightest: #f8dc68,
    lighter: #f2cc42,
    dark: #c99405,
    darker: #f16a09,
    darkest: #875d02,
  ),
);
